:root{
    --primary: #904646;
    --secondary: #FFD18D;
    --light: #FFFEF1;
    --dark: #793D3D;
    --color-background: #eaecfa;
    --color-loader: #ce4233;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.navbar a{
    color:#ffffff;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 30px;
}

.navbar-brand img{
    width: 50px;
    height: 50px;
}

.navbar-brand:hover{
    color: white;
}

.nav-link:focus{
    color: var(--secondary);
}

.nav-link:hover{
    color: var(--secondary);
}

.search-container{
    position: fixed;
    margin-top: -13.8vh;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 1px 10px #aeaeae;
    width: 100%;
    padding: 10px 120px;
    z-index: 2000;
}

.search-bar{
    width: 50%;
    position: relative;
    margin-right: 60px;
}

.search-bar input{
    height: 40px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid gray;
    outline: none;
    padding-left: 20px;
}

.search-bar img{
    position: absolute;
    right: 2%;
    bottom: 14%;
    width: 30px;
    cursor: pointer;
}

.select-type{
    width: 200px;
    border: 1.5px solid rgb(202, 202, 202);
}

.dropdown-toggle{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.dropdown-item:hover{
    color: #ffffff;
    background-color: var(--primary);
}

.main-container{
    margin-top: 200px;
    min-height: 70vh;
}

.card-col{
    padding-right: 80px;
}

#search-none{
    padding-top: 50px;
}

.cat-wrapper{
    width: 60%;
}
.cat-wrapper img{
    width: 100%;
}
#search-none h2{
    color: #B2B2B2;
}

.card-col p{
    font-size: 1.5rem;
}

.card-col span{
    font-weight: bold;
    color: var(--primary);
    margin-left: 5px;
}

.map-container{
    position: fixed;
    width: 41%;
}

#return-btn{
    position: absolute;
    top: 3%;
    left: 90%;
    width: 30px;
    cursor: pointer;
    z-index: 1000;
}

#loc-name{
    margin-top: 20px;
    font-size: 2.8rem;
    color: var(--primary);
}

#loc-add{
    font-size: 1.3rem;
}

.map-col span{
    color: #c3c3c3;
}

.loader-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.loader {
  left: 50%;
  margin-top: 80%;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-loader);
  letter-spacing: 0.2em;
  
  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: var(--color-loader);
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}

@media (max-width: 1400px){
}

@media (max-width: 992px) {

    .navbar-toggler{
        color: transparent;
        border: 2px solid #FFD18D;
    }

    .navbar-toggler-icon{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 209, 141, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .search-container{
        padding-inline: 15px;
    }
    
    .search-bar{
        width: 100%;
    }

    .map-col{
        padding-left: 40px;
    }

    .card-col{
        padding-right: 0px;
    }
}

@media (max-width: 768px) {

    #search-none{
        margin-right: 15px;
    }
    
    .cat-wrapper{
        width: 40%;
    }
    
    .main-container{
        margin-top: 160px;
    }

    .search-container{
        margin-top: -9vh;
    }

    .map-col{
        padding-left: 12px;
    }
}